<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Главная</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    </head>
    {{template "header.html" .}}
    <body>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Gachechiladze Store</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Покупайте вместе с нами</p>
                </div>
            </div>
        </header>
        
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {{$Session := .Session}}
                    {{if eq $Session.UserType "admin"}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Новый продукт</div>
                            
                            <img class="card-img-top w-100 h-100" src="/static/images/background.jpg" alt="..."/>
                            
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Новый продукт</h5>
                                    <!-- Product price-->
                                    <div class="price">Новый продукт</div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-2 w-100" href="/products/new">Добавить продукт</a>
                            </div>
                        </div>
                    </div>
                    {{end}}
                    {{range .Products}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{.Tag}}</div>

                            <img class="card-img-top" src="{{.ImageURL}}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{.Title}}</h5>
                                    <!-- Product price-->
                                    <div class="price">{{.Price}} Руб</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                {{if eq $Session.UserType "admin"}}
                                    <span data-id="{{.ID}}" class="delete-product btn btn-outline-dark w-100">Удалить</span>
                                    <a class="btn btn-outline-dark mt-2 w-100" href="/products/{{.ID}}">Изменить</a></div>
                                    <div class="text-center">
                                {{else}}
                                {{if ($Session.IsPurchased .ID)}}
                                <div class="text-center">
                                    <h5 class="fw-light">Добавлено в корзину!</h5>
                                </div>
                                {{else}}
                                    <span data-id="{{.ID}}" class="add-to-basket btn btn-outline-dark w-100">В корзину</span>
                                {{end}}
                                <a class="btn btn-outline-dark mt-2 w-100" href="/products/{{.ID}}">Посмотреть</a></div>
                                <div class="text-center">
                                {{end}}
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Gachechiladze Store 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $('.add-to-basket').click(function() {
              $elem = $(this)
              $.ajax({
                url: '/basket/' + $elem.data("id"),
                type: 'GET',
                data: {},
                success: function(resp) {
                  if(resp.updated) {
                      $elem.hide()
                      $elem.parent().prepend(`<div class="text-center"><h5 class="fw-light">Добавлено в корзину!</h5></div>`)
                  }
                },
              });
            })
        </script>
        <script type="text/javascript">
            $('.delete-product').click(function() {
              $elem = $(this)
              $.ajax({
                url: '/products/' + $elem.data("id"),
                type: 'DELETE',
                data: {},
                success: function(resp) {
                  if(resp.updated) {
                    $elem.parent().parent().remove()
                  }
                },
              });
            })
        </script>
    </body>
</html>

