<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
    z-index: 1000;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
</style>
</head>
<div class="header" id="myHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Gachechiladze Store</a>
            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">О нас</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Магазин</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/">Все продукты</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/?order_by=views">Популярные продукты</a></li>
                            <li><a class="dropdown-item" href="/?order_by=created_at">Новинки</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a href="/basket" class="btn btn-outline-dark" role="button">
                        <i class="bi-cart-fill me-1"></i>
                        Корзина
                        <!-- <span class="badge bg-dark text-white ms-1 rounded-pill" id="count">{{.TotalCount}}</span> -->
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{if .Session.UserName}} {{.Session.UserName}} {{else}} Аккаунт {{end}}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {{if not .Session.UserName}}
                                <li><a class="dropdown-item" href="/register">Зарегистрироваться</a></li>
                                <li><a class="dropdown-item" href="/login">Войти</a></li>
                                {{else}}
                                <li><a class="dropdown-item" href="/history">История покупок</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                                {{end}}
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</div>
<script>
    // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>